:root {
  --atbim-color-1: #030312;
  --atbim-color-2: #1f1b4c;
  --atbim-color-3: #322c79;
  --atbim-color-4: #6960fc;

  --text-color-1: #ffffff;
  --text-color-2: #ffffff;

  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;
}