body {
  margin: 0;
  padding: 0 5rem;
}

section {
  height: 100dvh;
}

#scene-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
